:root {
    --color-bg-dark: #2b2b2b;
    --color-bg-darker: #0e0e0e;
    --color-text-light: #f0f0f0;
    --color-hover: #4b4b4b;
    --border-radius: 15px;
}

#context-savepage,
#context-pocket,
#context-selectall,
#context-take-screenshot,
#context-inspect-a11y,
#context-inspect,
#context-viewsource,
#context-bookmarkpage,
#context-reload,
#context-forward,
#context-back,
#context-stop,
#context-sendimage,
#context-setDesktopBackground,
#context-print-selection,
#context-bookmarklink,
#context-savelink,
#context-savelinktopocket,
#context-copylink,
#context-stripOnShareLink,
#context-sendvideo,
#context-copyvideourl,
#context-video-saveimage,
#context-media-showcontrols,
#context-video-fullscreen,
#context-media-loop,
#context-media-playbackrate,
#context-media-unmute,
#context-media-play,
#context-media-pause,
#context-keywordfield,
#spell-check-enabled,
#context-undo,
#context-redo,
#context-delete,
#context-sendlinktodevice,
#context-openlinkprivate,
#context-sep-navigation,
#context-sep-redo,
#context-sep-selectall,
#frame-sep,
#context-sep-setbackground,
#context-sep-screenshots,
#context-sep-bidi,
#context-media-sep-video-commands,
#context-media-sep-commands,
#context-sep-open,
#context-sep-sharing,
#context-viewpartialsource-selection,
.openintabs-menuitem,
#context-openlinkinusercontext-menu,
.bookmarks-actions-menuseparator,
#PanelUI-helpView > toolbarseparator:nth-child(2),
#PanelUI-fxa > toolbarseparator:nth-child(2),
#PanelUI-bookmarks > toolbarseparator:nth-child(2),
#PanelUI-history > toolbarseparator:nth-child(2),
#appmenu-moreTools > toolbarseparator:nth-child(2),
#tabContextMenu > menuseparator:nth-child(7),
#context-previewlink,
#context-copyimage,
#placesContext_open\:newprivatewindow,
.tab-group-editor-panel > toolbarseparator:nth-child(3),
#taskbar-tabs-button, #context-sep-copylink, #context-copy-clean-link-to-highlight, #strip-on-share {
    display: none !important;
}

#unified-extensions-view {
    --uei-icon-size: 15px !important;
    width: 280px !important;
}

.panel-subview-footer-button {
    text-align-last: center !important;
}

#unified-extensions-view > toolbarseparator {
    display: none !important;
}

#alltabs-button {
    opacity: 0 !important;
    pointer-events: none;
}

#firefox-view-button {
    position: absolute;
    margin-left: auto !important;
    right: 140px;
    top: 4px;
}

#titlebar-buttonbox {
    display: flex;
    justify-content: flex-end;
}

#tabbrowser-tabs {
    border-inline-start: 0 !important;
    padding-inline-start: var(--tab-overflow-pinned-tabs-width) !important;
    margin-inline-start: 2px !important;
}

hbox.titlebar-spacer {
    display: none !important;
}

menupopup {
    --panel-background: var(--color-bg-dark) !important;
    --panel-border-color: var(--color-bg-dark) !important;
    --panel-color: var(--color-text-light) !important;
}

menu, menuitem {
    background-color: var(--color-bg-dark) !important;
    border-color: var(--color-bg-dark) !important;
    color: var(--color-text-light) !important;
    transition: background-color 0.3s ease;
}

menu:hover, menuitem:hover {
    background-color: var(--color-hover) !important;
}

#commonDialogWindow {
    --in-content-page-background: var(--color-bg-dark) !important;
}

#urlbar {
    z-index: 1 !important;
    margin: 0 !important;
    text-align: center !important;
    transition: margin 0.01s ease;
}

#identity-icon-box {
    display: none !important;
}

.panel-header,
.unified-extensions-item-message-deck,
.unified-extensions-item-menu-button.subviewbutton {
    display: none !important;
}

input, textarea, select {
    background-color: var(--color-bg-dark) !important;
    color: var(--color-text-light) !important;
}

input:focus, textarea:focus, select:focus {
    border-color: var(--color-hover) !important;
    transition: border-color 0.3s ease;
}

#navigator-toolbox,
#TabsToolbar,
.tabbrowser-tab,
.tab-background,
.tab-line,
#unified-extensions-area,
#mainPopupSet,
#notification-popup-box,
#bookmarkpropertiesdialog,
#print,
.header-container {
    background-color: var(--color-bg-dark) !important;
    color: var(--color-text-light) !important;
}

.tabbrowser-tab[selected=true] .tab-background {
    background-color: var(--color-hover) !important;
}

.tabbrowser-tab[selected=true] .tab-line {
    background-color: var(--color-text-light) !important;
}

#appcontent:-moz-full-screen > #tabbrowser-tabbox > #tabbrowser-tabpanels,
#appcontent:-moz-full-screen > #tabbrowser-tabbox > #tabbrowser-tabpanels > .deck-selected > .browserContainer,
#appcontent:-moz-full-screen > #tabbrowser-tabbox > #tabbrowser-tabpanels > .deck-selected > .browserContainer > .browserStack,
#appcontent:-moz-full-screen > #tabbrowser-tabbox > #tabbrowser-tabpanels > .deck-selected > .browserContainer > .browserStack > browser {
    border-radius: 0 !important;
    margin-left: 0 !important;
}

#main-window:-moz-full-screen {
    margin-left: calc((100vw - 100%) / 2) !important;
}

.tabbrowser-tab,
.tabbrowser-tab[selected=true] {
    border-top-left-radius: var(--border-radius) !important;
    border-top-right-radius: var(--border-radius) !important;
}

#appcontent > #tabbrowser-tabbox > #tabbrowser-tabpanels > .deck-selected > .browserContainer > .browserStack > browser {
    background-color: var(--color-bg-darker) !important;
    border: none !important;
    border-radius: var(--border-radius) !important;
    padding: 0 !important;
    overflow: hidden !important;
    box-shadow: none !important;
}

@-moz-document url-prefix(http) {
    body {
        background-color: var(--color-bg-darker) !important;
    }
}

#context_openANewTab,
#context_moveTabToNewGroup,
#tabContextMenu > menuseparator:nth-child(5),
#context_reloadTab,
#context_duplicateTab,
#context_bookmarkTab,
#context_moveTabOptions,
#context_selectAllTabs,
#tabContextMenu > menuseparator:nth-child(19),
#context_closeDuplicateTabs {
    display: none !important;
}

#placesContext_new\:bookmark,
#appMenu-print-button2,
#appMenu-save-file-button2,
#appMenu-find-button2,
#panelMenuBookmarkThisPage,
#panelMenu_searchBookmarks,
#panelMenu_viewBookmarksToolbar,
#placesContext_showAllBookmarks,
#placesContext_newSeparator,
#customizationMenuSeparator,
#PanelUI-bookmarks > vbox:nth-child(3) > toolbarseparator:nth-child(4),
.share-tab-url-item {
    display: none !important;
}

#toolbar-context-reloadSelectedTab {
    display: none !important;
}

#keyword-field-info {
    display: none !important;
}

#editBMPanel_keywordField {
    display: none !important;
}

label.editBMPanel_keywordRow {
    display: none !important;
}

#tags-field-info {
    display: none !important;
}

hbox.editBMPanel_tagsRow {
    display: none !important;
}

label.editBMPanel_tagsRow {
    display: none !important;
}

#toolbar-context-selectAllTabs {
    display: none !important;
}

#toolbar-context-toggle-vertical-tabs {
    display: none !important;
}

#tabbarItemsMenuSeparator {
    display: none !important;
}

#toolbar-context-bookmarkSelectedTab {
    display: none !important;
}

#customizableui-special-spring1 {
    display: none !important;
}

#customizableui-special-spring2 {
    display: none !important;
}

#browser {
    position: relative !important;
    border: 2px solid var(--color-bg-dark) !important;
    box-sizing: border-box !important;
    overflow: hidden !important;
}

#browser::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: 2px;
    border-radius: var(--border-radius) !important;
    pointer-events: none;
    background: transparent;
    box-shadow: 0 0 0 1000px var(--color-bg-dark);
    z-index: 5;
}
